@use 'mixin' as m;

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

main.detail-content {
  position: relative;
  width: min(95%, 1200px);
  margin: 20vh auto;
  @media #{m.$minLg} {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    .section-summary {
      position: sticky;
      top: 20vh;
      width: 30%;
      margin-bottom: 0;
    }

    section.detail {
      width: 63%;
    }
  } //minLg
  @media #{m.$maxLg} {
  } //maxLg

  .section-summary {
    a {
      display: inline-block;
      margin-top: 20px;
      @include m.button(white, #000, #000, #000, #000, white);
    }
  }

  section.detail {
    img {
      width: 100%;
      box-shadow: 0 0 10px rgba(#000, 0.3);
      &.detail-img {
        margin-bottom: 10vh;
      }
    } //img
    .textbox {
      margin: 10vh 0;
      clip-path: polygon(0% 0%, 0% 0%, 0%100%, 0% 100%);
      transition: all 1s;
      &.active {
        clip-path: polygon(0% 0%, 100% 0%, 100%100%, 0% 100%);
      }
      h3 {
        position: relative;
        font-weight: 600;
        &::before {
          content: '';
          position: absolute;
          width: 50px;
          height: 50px;
          background: var(--green);
          mix-blend-mode: multiply;
        }
      }
      p {
        max-width: 600px;
        font-size: 0.9em;
        margin: 30px 0;
      }
      div.meta {
        display: flex;
        font-size: 0.9em;
        dl {
          flex: 1;
          dt {
            max-width: 100px;
            font-weight: 600;
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid var(--green);
          }
          dd {
          }
        }
      }
    } //textbox
  }
}
