@use './mixin' as m;
/* 
asfd asdf 가나다라
*/
body {
  @include m.scrollbar;
  background: #fff;
}
header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  mix-blend-mode: difference;
  @media #{m.$minLg} {
    height: 120px;
  }
  @media #{m.$maxLg} {
    height: 70px;
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 100%;
    margin: 0 auto;

    h1 {
      height: min(60%, 60px);
      img {
        height: 100%;
      }
    } //h1
  } //center
} //header
.gnb {
  a {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    color: #fff;
    &:hover span {
      @media (hover: hover) {
        transform: translateY(-100%);
      }
    }
    i {
      margin-right: 10px;
    }
    span {
      height: 50px;
      transition: transform 0.5s;
      b {
        display: block;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 1.2em;
        font-weight: 600;
      }
    } //span
  } //a
} //gnb

.gnb-lg {
  display: flex;
  color: #fff;
  @media #{m.$maxLg} {
    display: none;
  }
} //gnb-lg

.gnb-sm {
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 100%;
  top: 0;
  .gnb-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
  }

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    object-fit: cover;
    object-position: center;
  }
  display: none;
  @media #{m.$minLg} {
    display: none !important;
  }
} //gnb-sm

.mbtn {
  position: relative;
  width: 40px;
  height: 40px;

  span {
    position: absolute;
    left: 2px;
    top: 19px;
    width: 36px;
    height: 2px;
    background: #fff;
    transition: all 0.5s;
    &.bar1 {
      transform: translateY(-10px);
    }
    &.bar2 {
    }
    &.bar3 {
      transform: translateY(10px);
    }
  } //span
  &:hover {
    @media (hover: hover) {
      .bar1 {
        transform: translateY(0);
      }
      .bar3 {
        transform: translateY(0);
      }
    }
  } //hover
  @media #{m.$minLg} {
    display: none;
  }
  &.active {
    .bar1 {
      transform: translateY(0) rotate(45deg);
    }
    .bar2 {
      opacity: 0;
    }
    .bar3 {
      transform: translateY(0) rotate(-45deg);
    }
  }
} //mbtn

.top-btn {
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 7;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  color: #fff;
  transition: all 1s;
  &:hover {
    color: #000;
    background: #fff;
  }
  &.active {
    opacity: 1;
    pointer-events: all;
  }
}
